:root {
  --black-01: #000;
  --black-02: #191718;
  --black-03: #3e3e3e;

  --gray-01: #5c5c5c;
  --gray-02: #aaa;
  --gray-03: #efefef;
  --gray-04: #DEDEDE;

  --white: #fff;

  --sidebar-width: 9.375rem;

}
