@media (max-width: 1024px) {
  #side-bar {
    display: none;
  }

  #side-bar__toggler {
    display: block;
  }
  
  #wrapper {
    margin: 0;
  }

  .technology__container {
    flex-direction: column;
    gap: 1.875rem;
  }

  #footer {
    position: static;
    width: 100%;
    margin-top: 1.875rem;
  }
}

@media (max-width: 768px) {
  .logo {
    max-width: 80%;
  }
}
